.nav .container{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}

.carousel-inner{
    position: relative;
}

.carousel-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
}



.carousel-inner img{
    height: 500px;
}

.text-truncate{
    margin-top: 10px;
}

.footer h5{
    background: #1E1E1E;
    padding: 10px 20px;
}
